body {
    padding-top: 54px;
  }
  
  header .welcome {
    margin-top: 3em;
  }

  a:link {
    text-decoration: none;
  }

  .link-hover:hover {
    text-decoration: underline;
    color: azure;
  }

  .btn-hover:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }

  
  /* Media queries for small devices */
  @media (max-width: 576px) {
    .card-text, .card {
      width: 40%;
    }
  }
  
 /* Media queries for medium devices */
  @media (min-width: 577px) and (max-width: 768px) {
    .card-text, .card {
        width: 70%;
    }
  }
 /* Media queries for laptops */
  @media (min-width: 577px) and (max-width: 768px) {
    .card-text, .card {
        width: 100%;
    }
  }